@import 'base';
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}
body {
  min-width: 320px;
  background: #fff;
}
html,
body
 {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
    text-decoration: none;
  }
}
*:before,
  *:after {
    box-sizing: border-box;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .brand-logo img {
    height: 90px;
    max-width: 100%;
    transition: all 0.4s ease;
  }
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both;
  }
  .main {
    width: 100%;
    height: auto;
  }
.pf-l {
  font-family: PingFangSC-Ultralight, sans-serif;
}
.pf-r {
  font-family: PingFangSC-Regular, sans-serif;
}
.pf-m {
  font-family: PingFangSC-Medium, sans-serif;
}
.P-A {
  position: absolute;
}
.D-IB {
  display: inline-block;
}
.TA-C {
  text-align: center !important;
}
.TA-L {
  text-align: left !important;
}
.TA-R {
  text-align: right !important;
}
.F-L {
  float: left !important;
}
.bold {
  font-weight: bold;
}
.C-P {
  cursor: pointer;
}
.full-h {
  height: 100% !important;
}
.full-w {
  width: 100% !important;
}
.align-center {
  margin: 0 auto;
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.F-R {
  float: right !important;
}

@include number-classes;


.heartbeat {
  animation: heartbeat 1s infinite;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ant-modal-confirm-body > .ant-modal-confirm-content {
  margin-left: 0 !important;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
